{{ 'faq-accordion.css' | asset_url | stylesheet_tag }}

<section>
  <h3>FAQ</h3>
  <div id="faq-accordion" class="faq-accordion">
  {% for block in section.blocks %}
    <div class="faq-item">
      <div class="faq-question">
        {% if block.settings.icon != blank %}
          <img src="{{ block.settings.icon | image_url: width:100 }}" alt="Icon" class="faq-icon" width="100px" height="100px">
        {% endif %}
        <span>{{ block.settings.question }}</span>
        <span class="faq-toggle">+</span>
      </div>
      <div class="faq-answer">
        <p>{{ block.settings.answer }}</p>
      </div>
    </div>
  {% endfor %}
</div>
</section>

<script>
  // selects all the questions
  let faqQuestions = document.querySelectorAll('.faq-question')
  // adding click function to the question element to trigger the answer to open
  faqQuestions.forEach(e=>{
    e.addEventListener('click', ()=>{
      // targeting the element that is a sibling of faq-question which is faq-answer to apply the CSS class
      e.nextElementSibling.classList.toggle('open')
    })
  })
</script>
{% schema %}
{
  "name": "FAQ Accordion",
  "settings": [],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon (optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ Accordion",
      "category": "Custom"
    }
  ]
}
{% endschema %}